<div class = "container-fluid text-center">
<h1>About Page</h1>
</br><p>It was founded in Stockholm, Sweden, but was established in Berlin in August 2007 by Swedish sound designer Ljung and Swedish artist Wahlforss. The founders aspired to allow musicians to share recordings with each other, but the concept later transformed into a full publishing tool that also allowed musicians to distribute their music tracks.[4]

</br>A few months after inception, SoundCloud began to challenge the dominance of Myspace as a platform for musicians to distribute their music by allowing recording artists to interact more nimbly with their fans.[4]

</br>	We both came from backgrounds connected to music, and it was just really, really annoying for us to collaborate with people on music—I mean simple collaboration, just sending tracks to other people in a private setting, getting some feedback from them, and having a conversation about that piece of music. In the same way that we’d be using Flickr for our photos, and Vimeo for our videos, we didn't have that kind of platform for our music.[4]	”
In April 2009, SoundCloud received €2.5 million Series A funding from Doughty Hanson Technology Ventures.[5] By May 2010, SoundCloud announced it had one million users.</p>
</div>